@{
    ViewBag.Title = "About";
}
<!--Jumbotron1-->
<div class="jumbotron jumbotron-fluid" style="background:#ac6b9a; text-align:center;">
    <div class="container">
        <h1 class="display-4">Acerca de Nosotros</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<!--Jumbotron1-->
<div class="jumbotron jumbotron-fluid" style="background:#ac6b9a; text-align:center;">
    <div class="container">
        <h1 class="display-4">Acerca de Nosotros</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>
<!--Jumbotron2-->
<div class="jumbotron jumbotron-fluid" style="background:#df4986; text-align:center;">
    <div class="container">
        <h1 class="display-4">Acerca de Nosotros</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>